body{
    margin:0;
    overflow:hidden;
}

#viewer{
    width:100vw;
    height:100vh;
}

#video{
    position:absolute;
    width:240px;
    bottom:20px;
    right:20px;
    border:2px solid white;
    z-index:10;
}
